---
title: Home
description: The latest app to help you find new friends with common interests.
top-image: https://www.fg-a.com/backgrounds/black-planet-surface-1920.jpg
bottom_image: https://www.fg-a.com/backgrounds/black-planet-surface-1920.jpg
---
<!-- This file allows us to customize the layout of the Home page (excluding header and footer)-->


<!-- Landing Page -->
<div class="hero" style="background-image: url({% include relative-src.html src=page.top-image %})">
    <div class="inner-hero text-container">
        <div class="hero-text-container">
            <img src="{{ site.baseurl }}/images/logo/header-logo.png">
                <p class="subtext editable">
                </p>
               <!-- <div class="cta button alt">
                    <a href="#">
                        Join Now
                    </a>
                </div>
                -->
            </img>
        </div>
    </div>
    <div class="learn-more">
        <div id="particles-js">
            <script src="particles.js"> 
            // Don't touch
            </script>
            <script src="app.js">
            </script>
        </div>
        <a href="#learn-more" class="button hvr-float">
            Learn more
            <span class="arrow">
                ▼
            </span>
        </a>
    </div>
</div>
<div class="content">
	<!-- About -->
    <section class="info-1" id="learn-more">
        <div class="container flex">
            <div class="text">
                <h2 class="editable">
                    About MISA
                </h2>
                <p class="editable">
                    Management Information Systems Association (MISA) is an Innovation-focused student group within the I.H. Asper School of Business at the University of Manitoba<br> <br>
 
					MISA’s main demographic are the Management Information Systems (MIS) students.  However, ALL individuals inside and outside the Asper School of Business are welcomed to join the group & attend our events!  Membership is <strong>FREE</strong> for everybody!

					<div class="about-join-button" >
                    <a href="https://docs.google.com/forms/d/12YQlo05fLL45uxMQIt0ysJ1warHUdXikjO5fytRyMKo/" class="button hvr-pop" >
                        Join Now
                    </a>
                </div>
                </p>

            </div>
            <div class="image-1">
                <img class="editable" src="http://placehold.it/650x1300"/>
            </div>

        </div>

    </section>

    <!-- Upcoming Events -->
    <div class="upcoming-events-text">
        	<h2 class="editable">
                    Upcoming Events
                </h2>
            </div>
    <div class="container-event">
        <div class="container-row">
        	<!-- Event 1 -->
            <div class="event-column" >
                <div class="event-image">
                    <span class="lw_item_thumb">
                        <a href="https://google.ca" >
                            <img height="250" src="https://via.placeholder.com/500x250" width="500">
                            </img>
                        </a>
                    </span>
                </div>
                <div class="event-info">
                    <div class="event-date" data-date="Fri 19 Jul 2019 PDT">
                        FRI, Jul 19
                    </div>
                    <h2 class="event-title">
                        <a href="https://google.ca">
                            Event Title 1
                        </a>
                    </h2>
                    <div class="time-place">
                        <div class="event-time" data-end-date="until 10:30 am" data-end-time="10:30 am" data-repeats=" " data-repeats-from=" " data-repeats-until=" " data-start-date="Fri 19 Jul 2019 PDT" data-start-time="12:00 am">
                            Event Time
                        </div>
                        <div class="event-place">
                            Event Location
                        </div>
                    </div>
                </div>
            </div>
            <!-- Event 2 -->
            <div class="event-column">
                <div class="event-image">
                    <span class="lw_item_thumb">
                        <a href="https://google.ca">
                            <img height="250" src="https://via.placeholder.com/500x250" width="500">
                            </img>
                        </a>
                    </span>
                </div>
                <div class="event-info">
                    <div class="event-date" data-date="Fri 19 Jul 2019 PDT">
                        FRI, Jul 19
                    </div>
                    <h2 class="event-title">
                        <a href="https://google.ca">
                            Event Title 2
                        </a>
                    </h2>
                    <div class="time-place">
                        <div class="event-time" data-end-date="until 10:30 am" data-end-time="10:30 am" data-repeats=" " data-repeats-from=" " data-repeats-until=" " data-start-date="Fri 19 Jul 2019 PDT" data-start-time="12:00 am">
                            Event Time
                        </div>
                        <div class="event-place">
                            Event Location
                        </div>
                    </div>
                </div>
            </div>

            <!-- Event 3 -->
            <div class="event-column">
                <div class="event-image">
                    <span class="lw_item_thumb">
                        <a href="https://google.ca">
                            <img height="250" src="https://via.placeholder.com/500x250" width="500">
                            </img>
                        </a>
                    </span>
                </div>
                <div class="event-info">
                    <div class="event-date" data-date="Fri 19 Jul 2019 PDT">
                        FRI, Jul 19
                    </div>
                    <h2 class="event-title">
                        <a href="https://google.ca">
                            Event Title 3
                        </a>
                    </h2>
                    <div class="time-place">
                        <div class="event-time" data-end-date="until 10:30 am" data-end-time="10:30 am" data-repeats=" " data-repeats-from=" " data-repeats-until=" " data-start-date="Fri 19 Jul 2019 PDT" data-start-time="12:00 am">
                            Event Time
                        </div>
                        <div class="event-place">
                            Event Location
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="all-events-button">
                    <a href="#" class="button hvr-pop" >
                        All Events
                    </a>
                </div>


    <!-- MIS Information -->
    <section class="info-2">
        <div class="container flex">
            <div class="text">
                <h2 class="editable">
                    What is MIS?
                </h2>
                <p class="editable">
                    MIS is <strong>	innovation</strong> - changing something for the better.  Today's market leaders in <strong>every industry</strong> uses MIS to gain a competitive advantage over their competitors.  It is one of the leading fields in the business world due to its multi-disciplinary approach of incorporating elements of business, technology, and engineering.<br>
              
                </p>
                <div class="about-join-button">
                    <a href="#" class="button hvr-pop">
                        Learn More
                    </a>
            </div>
        </div>
         <div class="image-2">
                <img alt="Screenshot" class="editable" src="http://placehold.it/650x1300"/>
            </div>
    </section>
    
    <!-- Section 3
    <section class="info-3">
        <div class="container flex">
            <div class="text">
                <h2 class="editable">
                    Section 3
                </h2>
                <p class="editable">
                    "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
                </p>
            </div>
            <div class="image-3">
                <img alt="Screenshot" class="editable" src="http://placehold.it/650x1300"/>
            </div>
        </div>
    </section> -->

    <!-- Section 4 -->
    <section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
        <div class="inner-hero text-container">
            <div class="hero-text-container">
                <h2 class="editable">
                    Become a member of MISA
                </h2>
                <p class="subtext editable">
                    We have cake
                </p>
                <div class="cta button alt">
                    <a href="https://docs.google.com/forms/d/12YQlo05fLL45uxMQIt0ysJ1warHUdXikjO5fytRyMKo/">
                        Join Now
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>
