---
title: MIS
description: Keep up with the latest events.
top-image: https://source.unsplash.com/MqJX_8EaStM/2000x1322?a=.png
bottom_image: https://www.fg-a.com/backgrounds/black-planet-surface-1920.jpg
---
<!-- This file allows us to customize the layout of the events page. Currently it's just a near copy of the index.html -->
<section class="hero" style="background-image: url({% include relative-src.html src=page.top-image %})">
    <div class="inner-hero text-container">
        <div class="hero-text-container">
            <h1 class="editable">
                MIS
            </h1>
            <p class="subtext editable">
                Where business and technology collide. As a MIS major, you will be taught how business management and information technology comes hand-in-hand to create valuable business solutions.
            </p>
        </div>
    </div>
</section>
<div class="content">
    <section class="info-1" id="learn-more">
        <div class="container flex">
            <div class="text">
                <h2 class="editable">
                    Why major in MIS?
                </h2>
                <p class="editable">
                    <div>In today’s industry, every organization invests and puts a lot of emphasis in information technology due to the modern times being heavily reliant on technology. Companies hire professionals who can implement, improve, and discover new technology for the greater good and efficiency of a company. The data collected is used to make important decisions and how to achieve business goals. </div></br>
					<div>If you enjoy the idea of working with technology and solving business problems, then MIS may be a career that may you want to pursue. Even if you plan to second major in MIS, learning MIS will be a valuable skill set and can set you apart from other employees. MIS is not only a major, it helps you to be better. </div>
					
                </p>
            </div>
            <div class="image-1">
                <img alt="Screenshot" class="editable" src="http://placehold.it/650x1300"/>
            </div>
        </div>
    </section>
    <section class="info-2">
        <div class="container flex">
            <div class="text">
                <h2 class="editable">
                    Required Courses
                </h2>
                <p class="editable" align="left">
				<!--  probably a good idea to link catalogue entry for each required course here  -->
				<b>COMP 1010</b> - Introductory to Computer Science</br>

				<b>MIS 2000</b> - Information Systems for Management*</br>
​
				<b>MIS 3510</b> - Systems Analysis and Design</br>

				<b>MIS 3520</b> - Data Communications and Networking</br>

				<b>MIS 3500</b> - Database Management Systems**</br>

				<b>MIS 4500</b> - Management Information Systems Strategy</br>
				
                </p>
				
				</br><i>* all Asper students are required to complete MIS 2000, regardless of their chosen major</i></br>
				<i>** COMP1010 required</i></br>
            </div>
            <div class="image-2">
                <img alt="Screenshot" class="editable" src="http://placehold.it/650x1300"/>
            </div>
        </div>
		
    </section>
    <section class="info-3">
        <div class="container flex">
            <div class="text">
                <h2 class="editable">
                    Careers in MISA
                </h2>
                <p class="editable">
				
				<b>Daniel Molinski</b></br>
				<b>Graduation Date</b>: May 2013</br>
				<b>Company</b>: Mackenzie Investments</br>
				<b>Division</b>: Project Support Office, Information Services</br>
				<b>Career Centre</b>: Project Management</br>
				<b>Position</b>: Project Management Analyst (PMA)</br></br>
				
				<u><b>What's your job like?</u></b></br>
				<div align="justify">
				A PMA is "supposed to" provide support to Projects Managers and help ensure that a project stays within its planned budget, scope, and schedule.  Realistically, however, in the 8 1/2 months I've been at Mackenzie Investments, I've mostly been either reporting (generating reports on project's use of resources), troubleshooting / configuring the Microsoft Project Server tool that was implemented shortly after I began, or training.  I have spent little time working alongside actual project teams as of yet, but that is something I can look forward to it in the very near future.  This will mean I'll attend regular progress meetings, giving me valuable exposure to the typical project management processes.  Down the road I may even become responsible for some deliverables.
				</div></br>
				
				
                </p>
            </div>
            <div class="image-3">
                <img alt="Screenshot" class="editable" src="http://placehold.it/650x1300"/>
            </div>
        </div>
    </section>
	
    <section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
        <div class="inner-hero text-container">
            <div class="hero-text-container" >
                <h2 class="editable">
                    <div align="center">Want to become a member?</div>
                </h2>
                
                <div class="cta button alt" align="center">
                    <a href="#">
                    Join Us Now!
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>
