// .map {
// 	width: 100%;
// 	height: 440px;
// }

//bacground image shown very top
//adds extra transparent black rectangle
#transparent-background{
	padding: 5%;
	background-color: black;
	opacity: 0.5;

	//We don't want to make text to be transparent,
	//texts should have 100% opacticy (default: 1)
	h1, p{
		color: white;
		opacity: 1;
	}
}

//section shown at the bottom of the background image
.contact-box {
	margin-bottom: 1%;
	border:5px solid red;
	margin: 0 auto;
	// padding: 10%;

	form {
		width: 100%
	}

	p {
		margin: 0;
	}

	.contact-form{
		@media #{$desktop} {
			-webkit-flex: 1;
			flex: 1;
		}
	}

	.contact-details, .contact-icons  {
		@media #{$desktop} {
			-webkit-flex: 1;
			flex: 1;
		}
	}

	.contact-form{
		border:5px solid blue;
	}

	.contact-details {
		border:5px solid black;
		width: 45%;
		font-size: .9em;
		text-align: center;
		float: left;
	}

	.contact-icons{
		// margin: 0 auto;
		width: 45%;
		border:5px solid purple;
		float: right;
		
		ul#icons{
			text-align: center;
			list-style-type:none;	//does NOT display bullet points
			
			li{
				float:left;	// places icons side by side horizontally
				// text-align: center;
				// margin-right: 5%;

				i{
					display: block;
					text-align: center;
					padding: 16px;
				}
			}

			li:hover{
				opacity: 0.5;
			}

		}
	}
}

#box2{
	margin: 0;
	padding: 16px;
	width: 100%;
	flex: 1;
	border:5px solid yellowgreen;

	overflow: hidden;
}

.pad2{
	overflow: hidden;
	width: 100%;
	margin: 0 auto;
	border: 5px solid green;
	// text-align: center;

	@media #{$desktop} {
		-webkit-flex: 1;
		flex: 1;
	}
}