/* Style sheet for common elements */

html {
	// background: #2b2b40;

	background: #131212;
}

html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Rubik', sans-serif;
}

a {
	color: #00a4ca;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

img {
	max-width: 100%;
}

h1 strong, h2 strong {
	font-weight: 500;
	font-family: 'Share Tech Mono', monospace;
	// font-family: 'Heebo', sans-serif;
	// font-family: 'Roboto', sans-serif;

}

h1 {
	font-weight: 500;
	font-size: 3.8em;
	margin: 0;
	 font-family: 'Share Tech Mono', monospace;
	// font-family: 'Heebo', sans-serif;
	// font-family: 'Roboto', sans-serif;
	color: #8b0e3a
}

h2 {
	font-weight: 500;
	font-size: 3em;
	margin: 0 0 30px 0;
	line-height: 1.2em;
	font-family: 'Share Tech Mono', monospace;
	// font-family: 'Heebo', sans-serif;
	// font-family: 'Roboto', sans-serif;
	color: #8b0e3a
}

h3 {
	margin: 20px 0 10px 0;
}

h2 a {
	color: #000;

	&:hover {
		text-decoration: none;
	}
}

p, address, ul {
	font-size: 1.68em;
	margin-bottom: 20px;
	font-weight: 400;
	line-height: 1.6em;
	font-family: 'Lato', sans-serif;
}
