/* Style sheet for upcoming events on the home page (see index.html) and event page (see events.html)*/

/* styling upcoming events on home page */
.container-event{
    border-collapse: separate;
    border-spacing: 30px; /* Looks okay on desktop but a little weird on mobile */
    display:table;
    padding-bottom: 10px;
    margin-left: 10%;
    width: 80%;
}

.all-events-button a{
    display: block;
}


.all-events-button a:hover {
    background: black;
    color: white;
    text-shadow: none;
}

.event-image img {
    width: 100%;
    height: auto;
}

.container-row{
	display:table-row;
}

.event-column{
	background: #f5f5f5;
	border-bottom: 1px solid #e9e9e9;
	position: relative;
	display:table-cell;
	width: 33%;

}

.event-column a{
    text-decoration: none;
    color:black;

}

.event-column:hover {
    box-shadow: 1px 1px 6px rgba(0,0,0,0.34);
    border: 0!important;
    background: #f5f5f5!important;
}

.event-info{
	padding: 1em 1em 1em;
}

.event-date, .event-time, .event-place{
    font-size: 1.48em;
    font-family: 'Lato', sans-serif;
}

.event-info h2{
    margin-bottom:0px;
    padding-right:15px;

}

.event-title{
    margin:0px;
    color: #8b0e3a
}

/* styling for events on events page */

.event-page-container{
    border-collapse: separate;
    border-spacing: 0px 30px;
    display:table;
    padding-bottom: 10px;
    margin-left: 10%;
    width: 80%;

}
.event-page-info{
    float:left;
    margin-right:50px;
    padding-top:25px;

}

.event-page-description{
    margin-top:40px;
    vertical-align: top;
}

.event-page-column{
    background: #f5f5f5;
    border-bottom: 1px solid #e9e9e9;
    position: relative;
    display:table-cell;
    width: 33%;

}

/* Resposive verticle stacking of events */
@media (max-width: 767px) {
  .event-column {
    display: table;
    width: 100%;
  }

  .event-page-column {
    display: table-header-group;
    width: 100%;
  }

  .container-event{
    border-spacing: 0;
  }

  .event-page-container{
    border-spacing: 0;
  }

  .event-page-info{
    float:left;
    margin-right:0px;

}

.button a, input[type=submit]{
        white-space:  normal;
}
}