.button a, input[type=submit] {
	color: #004977;
	text-decoration: none;
	border: 2px solid #004977;
	transition: .2s ease-in-out;
	display: inline-block;
	padding: 16px 50px;
	background: #fff;
    margin: auto;
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
    font-size:30px;
    white-space: nowrap;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.2);
}

// exactly the same as previous button but display is block
.button-all-events a{
	color: #004977;
	text-decoration: none;
	border: 2px solid #004977;
	transition: .2s ease-in-out;
	display: block;
	padding: 16px 50px;
	background: #fff;
	    max-width: 160px;
    margin: auto;
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
    font-size:30px;
    white-space: nowrap;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.2);
}

.button a:hover, input[type=submit]:hover {
	background: #004977;
	color: #fff;
	cursor: pointer;
	box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.0);
}

.button-all-events a:hover, input[type=submit]:hover {
	background: #004977;
	color: #fff;
	cursor: pointer;
	box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.0);
}

.button.alt a {
	background: rgba(255,255,255,0);
	border: 2px solid rgba(255, 255, 255, 1);
	color: #fff;
}

.button.alt a:hover {
	background: #fff;
	color: #004977;
	text-shadow: none;
}

textarea, input, button, select { font-family: inherit; font-size: inherit; }

input[type=submit] {
	margin: 20px 0 0 0;
}

label, input, textarea {
	display: block;
	width: 100%;
	box-sizing: border-box;
}

textarea {
	resize: vertical;
	height: 150px;
}

label {
	margin: 20px 0 5px 0;
}

input, textarea {
	padding: 10px;
	font-size: 1em;
}

input, textarea {
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	border: 1px solid #DDDDDD;
}

input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, textarea:focus {
	box-shadow: 0 0 5px #004977;
	border: 1px solid #004977;
}
