/* Style sheet for the team page (see team.html)
 */

.staff {
            margin-left: 15%;
    margin-right:15%;
	padding: 0;
	list-style: none;
	@extend %flexbox;
	@include flex-flow(wrap);
	text-align: center;
	li {
		padding: 30px 20px;
		box-sizing: border-box;
		width: 100%;

		@media #{$tablet} {
			@include flex(1, 1, 50%);
		}

		@media #{$desktop} {
			@include flex(1, 1, 33%);
		}

	}

  .name {
    margin-top: 20px;
    font-weight: 300;
    font-size: 1em;
    line-height: 1.2em;
    // font-family: 'Share Tech Mono', monospace;
    font-family: 'Roboto', sans-serif;
    color: #8b0e3a;
  }
  
  .name a{
    color: #8b0e3a;
  }

	.position {
		color: #666;
		font-size: .8em;
	}
}

hr{
height: 1px;
opacity: 0.3;
}

.staff2 {
	padding: 0;
	list-style: none;
	@extend %flexbox;
	@include flex-flow(wrap);
	text-align: center;
  @media #{$desktop}{
  }
	li {
		padding: 30px 20px;
		box-sizing: border-box;
		width: 100%;

		@media #{$tablet} {
			@include flex(1, 1, 50%);
		}

		@media #{$desktop} {
			@include flex(1, 1, 33%);
		}

	}

  .name {
    margin-top: 20px;
    font-weight: 300;
    font-size: 1em;
    line-height: 1.2em;
    // font-family: 'Share Tech Mono', monospace;
    font-family: 'Roboto', sans-serif;
    color: #8b0e3a;
  }
  
  .name a{
    color: #8b0e3a;
  }

	.position { //changed to be similar to h3
		//color: #666;
		font-size: .8em;
	}


}

.linkedIn{
		margin-top: 10px;


	}

	 @charset "UTF-8";

.rounded-social-buttons {
  text-align: center;
  margin-bottom:20px;
}

.rounded-social-buttons .social-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 3.125rem;
  height: 3.125rem;
  border: 0.125rem solid transparent;
  padding: 0;
  text-decoration: none;
  text-align: center;
  color: #fefefe;
  font-size: 1.5625rem;
  font-weight: normal;
  line-height: 2em;
  border-radius: 1.6875rem;
  transition: all 0.5s ease;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}

.rounded-social-buttons .social-button:hover, .rounded-social-buttons .social-button:focus {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

// Facebook
.rounded-social-buttons .social-button.facebook {
  background: #3b5998;
}

.rounded-social-buttons .social-button.facebook:before {
  font-family: "FontAwesome";
  content: "\f09a";
}

.rounded-social-buttons .social-button.facebook:hover, .rounded-social-buttons .social-button.facebook:focus {
  color: #3b5998;
  background: #fefefe;
  border-color: #3b5998;
}

// Twitter
.rounded-social-buttons .social-button.twitter {
  background: #55acee;
}

.rounded-social-buttons .social-button.twitter:before {
  font-family: "FontAwesome";
  content: "\f099";
}

.rounded-social-buttons .social-button.twitter:hover, .rounded-social-buttons .social-button.twitter:focus {
  color: #55acee;
  background: #fefefe;
  border-color: #55acee;
}

// Linkedin
.rounded-social-buttons .social-button.linkedin {
  background: #007bb5;
}

.rounded-social-buttons .social-button.linkedin:before {
  font-family: "Font Awesome 5 Brands";
  content: "\f0e1";
}

.rounded-social-buttons .social-button.linkedin:hover, .rounded-social-buttons .social-button.linkedin:focus {
  color: #007bb5;
  background: #fefefe;
  border-color: #007bb5;
}

// Email
.rounded-social-buttons .social-button.email {
  background: #022b3b;
}

.rounded-social-buttons .social-button.email:before {
  font-family: "FontAwesome";
  content: "\f0e0";
}

.rounded-social-buttons .social-button.email:hover, .rounded-social-buttons .social-button.email:focus {
  color: #000000;
  background: #fefefe;
  border-color: #000000;
}

// Youtube
.rounded-social-buttons .social-button.youtube {
  background: #bb0000;
}

.rounded-social-buttons .social-button.youtube:before {
  font-family: "FontAwesome";
  content: "\f167";
}

.rounded-social-buttons .social-button.youtube:hover, .rounded-social-buttons .social-button.youtube:focus {
  color: #bb0000;
  background: #fefefe;
  border-color: #bb0000;
}

// Instagram
.rounded-social-buttons .social-button.instagram {
  background: #125688;
}

.rounded-social-buttons .social-button.instagram:before {
  font-family: "FontAwesome";
  content: "\f16d";
}

.rounded-social-buttons .social-button.instagram:hover, .rounded-social-buttons .social-button.instagram:focus {
  color: #125688;
  background: #fefefe;
  border-color: #125688;
}

// Github
.rounded-social-buttons .social-button.github {
  background: #05e017;
}

.rounded-social-buttons .social-button.github:before {
  font-family: "FontAwesome";
  content: "\f09b";
}

.rounded-social-buttons .social-button.github:hover, .rounded-social-buttons .social-button.github:focus {
  color: #000000;
  background: #fefefe;
  border-color: #000000;
}

// External link
.rounded-social-buttons .social-button.link {
  background: #007bb5;
}

.rounded-social-buttons .social-button.link:before {
  font-family: "FontAwesome";
  content: "\f0c1";
}

.rounded-social-buttons .social-button.link:hover, .rounded-social-buttons .social-button.link:focus {
  color: #000000;
  background: #fefefe;
  border-color: #000000;
}


/* lightbox styling */
.lightbox{
  display:none;

  h2{
    text-align:center;
    margin:0px;
  }

  h3{
    text-align:center;
    // margin-bottom:20px;
  }

  p{
  width:400px;
  margin: 0 auto;
  font-size: 1.38em;
  margin-bottom:20px;

  }
}

/* image inside the lightbox */
.lightbox-image {
  width: 200px;
  height: 200px;
  border-radius: 200px;
  background-size:cover;
  background-repeat:no-repeat;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 767px) {

  .staff{
          margin-left: 0%;
    margin-right:0%;
  }

  .lightbox{
  display:none;

   p{
  width:auto;
  margin: 0 auto;
  font-size: 1.38em;
  margin-bottom:20px;

  }
}


  }


